@import "tailwindcss";

@font-face {
  font-family: 'DM Sans';
  src: url('/fonts/dm-sans/DMSans.ttf') format('truetype');
  font-weight: 100 1000;
  font-style: normal;
  font-display: swap;
}


.font-light     { font-weight: 200 !important; }
.font-normal    { font-weight: 300 !important; }
.font-medium    { font-weight: 400 !important; }
.font-semibold  { font-weight: 500 !important; }
.font-bold      { font-weight: 600 !important; }


:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: 'DM Sans', sans-serif;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}


.container{
  @apply max-w-[1920px] mx-auto px-4 sm:px-6 md:px-20;
}
